{% extends "page.html" %}

{% block styles %}
   {{ super() }}
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css" crossorigin="anonymous">
   {% asset 's3filestore/evaporate_css' %}
{% endblock %}

{% block scripts %}
   {{ super() }}
   {% asset 's3filestore/evaporate_js' %}
{% endblock %}

{% block primary_content %}
  {{ super() }}

   {% block evaporate_example %}
      <div class="container-fluid">
         <h1>Using EvaporateJS with AWS V4 Signatures</h1>
         <div>
            <h2>Demo</h2>
            <input type="file" id="files"  multiple />
         </div>
      </div>

   {% endblock %}
{% endblock %}